header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

header h1 {
    margin: 0;
}

header p,
header + p {
    font-weight: 600;
}

header + p {
    margin-top: 0;
    text-align: left;
}