.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    background-color: oklch(0.971 0.013 17.38);
    transition: all ease-in-out 100ms;
    cursor: pointer;

    overflow: hidden;
}   


.card p,
.card h2 {
    margin: 0;
    color: oklch(0.971 0.013 17.38);
}


.card-body {
    position: relative;
    padding: 2rem 0.5rem 1rem 0.5rem;
    flex-grow: 1;
    background-color: oklch(0.514 0.222 16.935);
    border-radius: 0 0 1.5rem 1.5rem;
    align-self: stretch;
    border-top: 10px solid oklch(0.129 0.042 264.695);
}

.ball-button {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    border: 10px solid oklch(0.129 0.042 264.695);
}


.card:hover {
    transform: scale(1.05);
    box-shadow: rgba(88, 28, 135, 1) 0px 8px 24px;
    
}

.card:active {
    transform: scale(1);
}

.types {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 0.5rem;
    justify-content: center;
}

.type-badge {
    background-color: oklch(0.129 0.042 264.695);
    font-size: 0.75rem;
    padding: 2px 12px;
    border-radius: 3rem;
    font-weight: 600;
}